/* CSS */
body {
    background-color: #ffffff;
}

.darkmode {
    background-color: #212121;
}


.button {
  background: #ff2ea8;
  border-radius: 999px;
  box-shadow: #5deef0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  float: left;
}

.button.darkmode {
    background: rgb(255, 255, 255);
    background-color: aqua;
}

.catimg {
    display: none;
    height: 250px;
    width: 250px;
    border-radius: 999px;
    float: left;
    box-shadow: #5deef0 0 10px 20px -10px;
}

.catimg.active {
    display: block;
}